body{
    background-color: lightblue;
}

h1{
    color : red;
    margin-left: 20px;
}

ul{
    list-style-image: url(https://www.khaosod.co.th/wp-content/uploads/2019/01/c.files_.bbci_.co_.uk_105020624_2a8cf95d-1ad3-8df204832eda37f73ffd842bf99ca66ff84ad3f7.jpg);
}


table,
th,
td{
    border: 1px solid red;
    border-collapse: collapse;
}

th,
td {
    padding: 15px;
}